.login-page{
    display: flex;
    align-items: center;
    background-color: rgb(238, 77, 45);
    .form-lg{
        display: flex;
        width: 1200px;
        align-items: center;
        justify-content: center;
    }
    .background-topic{
        display: flex;
        justify-content: flex-end;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: 150px;
        height: 600px;
        width: 1040px;
        align-items: center;
        background-image: url(https://cf.shopee.vn/file/5cb68eda2bde883a530855113c0ecd21);
        min-height: 600px;
        
        .formLogin{
            background-color: #fff;
            box-sizing: border-box;
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0 , 0.14);
            border-radius: .25rem;
            overflow: hidden;
            width: 24.8125rem;
            .login{

                align-items: center;
                flex-shrink: 0;
                padding: 1.375rem 1.875rem;
                font-size: 1.25rem;
                font-weight: 500;
                color: #222;
                padding: 1.375rem 1.875rem;
            }
        }
    }
}